PROXMOX_API_URL="https://<proxmox-ip>:8006/api2/json"
PROXMOX_API_TOKEN_ID="terraform@pam!t2"
PROXMOX_API_TOKEN_SECRET="<your-token-secret>"
TF_VAR_proxmox_api_url=$PROXMOX_API_URL
TF_VAR_proxmox_api_token_id=$PROXMOX_API_TOKEN_ID
TF_VAR_proxmox_api_token_secret=$PROXMOX_API_TOKEN_SECRET
